// Some base styles and text styles
body.page-drc {
	background: $lightsilver;
	font-family: $textFont, sans-serif;
	color:$white;
	font-size: 1rem;
}

.page-drc {
	* {
		@include box-sizing;
	}

	// ========= link style and colors ==========
	a {
		text-decoration: none;
	}
	.promo a {
		color: $linkblue;

		&:hover {
			color:#fff;
		}

		&::after{
			content: '\003E';
			position:absolute;
			left:100%;
		}
	}
	nav li a {
		position:relative;
		color:$linkblue;
		white-space: nowrap;
		overflow: hidden;
		width:100%;
		text-overflow: ellipsis;
		padding: 4px 5px 4px 0;

		&::after{
			top:2px;
		}
	}

	.calltoaction a {
		position:relative;
		padding-right:5px;
		z-index:500;

		&::after{
			top: 4px;
		}
	}

	footer li a {
		font-family: $footerFont;
		color: $mediumgrey;

		&:hover {
			color: $lightgrey;
		}
	}

	// ========= heading style,color and sizes ==========

	.header-wrapper	h2 {
		display: none;

		@media (min-width:$medium) {
			display: block;
			line-height:60px;
			font-size:18px;
			margin-left:84px;
			letter-spacing: 0.028em;
		}
	}

	nav h2 {
		font-size: 18px;
		// make sure 1 line
		white-space: nowrap;
		@media (min-width: $small) {
			font-size: 24px;
			margin-bottom: 8px;
		}
		@media (min-width: $medium) {
			text-align: center
		}
	}

	.headinggroup {
		h1 {
			font-family: $headingFont;
			letter-spacing: .028em;
			font-size:50px;
			margin: 0 10px 20px;
			@media (min-width: $medium) {
				font-size:100px;
			}
		}

		h2 {
			font-size:15px;
			width: 92%;
			line-height: 1.4;
			margin: 0 auto;

			@media (min-width: $small) {
				width: 60%;
				font-size: 18px;
			}
			@media (min-width: $medium) {
				font-size:24px;
			}
		}
	}

	.traininginfo {
		margin: 15px 0 20px;
		overflow: hidden;
		line-height: 1.6;
		font-size: 13px;
	    display: -webkit-box;
	    -webkit-line-clamp: 3;
	    -webkit-box-orient: vertical;
	    text-overflow: ellipsis; 
	    max-height: 80px;

	    @media (min-width: $small) {
			font-size: 16px;
		}

	    @media (min-width: $medium) {
			text-align: center;
		}
	}
}
