@font-face {
    font-family: 'IntelClearPro_Bold';
    src: url('../fonts/IntelClearPro_Bd.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'IntelClear_Bold';
    src: url('../fonts/IntelClear_Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'IntelClear_BoldItalic';
    src: url('../fonts/IntelClear_BdLt.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'IntelClear_Light';
    src: url('../fonts/IntelClear_Lt.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'IntelClear_Regular';
    src: url('../fonts/IntelClear_Rg.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'IntelClear_LightItalic';
    src: url('../fonts/IntelClear_Ltlt.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'IntelClear_Italic';
    src: url('../fonts/IntelClear_lt.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}