@font-face {
  font-family: "IntelClear_Light";
  src: url('../fonts/IntelClear_Lt.ttf') format('truetype');
}
@font-face {
  font-family: "IntelClear_Regular";
  src: url('../fonts/IntelClear_Rg.ttf') format('truetype');
}
@font-face {
  font-family: "IntelClearPro_Bold";
  src: url('../fonts/IntelClearPro_Bd.ttf') format('truetype');
}
