// _variables.scss
// =================
@import "http://fonts.googleapis.com/css?family=Patua+One|Inika";
 
$aquablue    :	#0071c5;
$linkblue	: #00adee;
$lightsilver :	#e7e7e7;
$mediumgrey	 : 	#57585b;
$white: #fff;

$headingFont : 'IntelClearPro_Bold';
$textFont : 'IntelClear_Light';

// The following breaking points are mirroring Intel.com break points
$xsmall: 480px;
$small: 768px;
$medium: 992px;
$large: 1200px;
$xlarge: 1440px