// _variables.scss
// =================
 
$aquablue    :	#0071c5;
$linkblue	: #00adee;
$lightsilver :	#e7e7e7;
$mediumgrey	 : 	#57585b;
$lightgrey	: #959595;
$extralightgrey: #dbdbdb;
$white: #fff;

$headingFont : 'IntelClearPro_Bold';
$textFont : 'IntelClear_Light';
$footerFont: 'IntelClear_Regular';


// The following breaking points are mainly restricted by the two psds supplied

$small: 565px;
$medium: 992px;
$large: 1200px;
$xlarge: 1440px